apiVersion: longhorn.io/v1beta1
kind: BackupTarget
metadata:
  name: default
  namespace: longhorn-system
spec:
  backupTargetURL: s3://longhorn-backups@minio.example.com/longhorn?region=us-east-1&s3ForcePathStyle=true&endpoint=http://minio.example.com
  credentialSecret: minio-credentials
