cert-manager cert-manager-cloudflare-api-credentials apiKey=GETHISFROMCLOUDFLARE email=your_email@example.com
traefik traefik-cloudflare-api-credentials apiKey=GETHISFROMCLOUDFLARE email=your_email@example.com
longhorn-system longhorn-auth users=longhorn:$apr1$KXtyuigF$WegLaGHTYUIH5u5E03gg43
longhorn-system minio-credentials AWS_ACCESS_KEY_ID=RANDOMDATA AWS_CERT=RANDOMDATA AWS_ENDPOINTS=RANDOMDATA AWS_REGION=us-east-1 AWS_SECRET_ACCESS_KEY=SUPERSECRETACCESS_KEY
